      section{
        text-align: center;
        font: 1em sans-serif;
        font-weight: bold;
        padding-bottom: 50px;
      }

      h1{
        font-size: 35px;
        color: var(--dark-color);
        font-family: var(--accent-font);
        padding-top: 50px;
      }

      p{
        color: var(--dark-color);
        font-family: var(--base-font);
        padding: 1em 10em;
      }

      .maling h2{
        color: var(--brand-color);
        font-family: var(--accent-font);
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .maling li{
        color: var(--dark-color);
        font-family: var(--base-font);
        padding-top: 10px;
      }

      .vægge{
        background-color: var(--dark-color);
      }

      .vægge h1{
        color: var(--light-color);
        font-family: var(--accent-font);
      }

      .vægge p{
        color: var(--light-color);
        font-family: var(--base-font);
      }

      .vægge h2{
        color: var(--brand-color);
        font-family: var(--accent-font);
        padding-top: 30px;
      }

      h3{
        padding-top: 30px;
        font-size: 70px;
        font-family: var(--accent-font);
        font-weight: lighter;
        color: var(--light-color);
        padding-bottom: 50px;
      }



